h2(class='three-dimensional-text' tabindex='0') Stuff I Made
div(id='polaroid-gallery')
  section(class='polaroid' style='--left-tape-transform: rotate(-34deg) translate(-1rem, -1rem); --polaroid-transform: rotate(-0.6deg) translate(0px, 1px); --right-tape-transform: rotate(60deg) translate(1rem, -1.1rem); --right-tape-length: 4rem')
    img(
      alt='Image of duplicate images in different sizes' 
      src='./generate-srcset-images.jpg'
    )
    header
      h3(tabindex='0') Generate srcset images
      p Created this tool whilst making this website
    div(class='line-clamp')
      p 
        | I made this small tool that generates the scrset images and a srcset attribute string 
        br
        br
        | Had to do this as all 
        a(href='https://github.com/dazuaz/responsive-loader' target='_blank') responsive-loader
        |  features only works 100% in javascript files
    include ./clamp-text-button.pug
    a(class='link-with-svg' href='https://github.com/filleflex/generate-srcset-images' target='_blank')
      include ./github-link-content.pug
  section(class='polaroid' style='--left-tape-transform: rotate(-20deg) translate(-1rem, -0.4rem); --polaroid-transform: rotate(0.4deg) translate(3px, -2px); --right-tape-transform: rotate(20deg) translate(1rem, -1rem); --left-tape-length: 4.5rem; --right-tape-length: 6rem;')
    header
      h3(tabindex='0') Music video animation
      p Animation I made for a friends song
    div(class='line-clamp')
      p 
        | This is the result from a school assignment I had in digital creation course 
        br
        br
        | The assignment was to create some sort of animation and my idea was to make an animation for my friends song that he had made a few months earlier 
        br
        br
        | So I approached my friend with the idea and asked him to supply me with his photoshop file of his icon and a few different parts of his song 
        br
        | ( Bass / Kick / Mids / Vocals / Rest of the song )
        br
        br
        | Then I used a simple After Effects script that looks at the audiograms of each song part which scales/modifies the different photoshop layers of his icon according on how the audio waves look
    include ./clamp-text-button.pug
    a(class='link-with-svg' href='https://www.youtube.com/watch?v=pgJXHhmN45Y' target='_blank')
      include ./youtube-link-content.pug
    img(
      alt='Grebsucram icon coming towards the camera with and ocean as background' 
      src='./grebsucram-music-video.png'
    )
