h2(class='three-dimensional-text') Thank you for visiting! :)
div(class='glass-background')
  p If you are seeing this website I'm probably trying to impress you, so hopefully you are impressed enough to get in contact with me
