h2(class='three-dimensional-text') Thank You For Visiting! :)
div(class='glass-background')
  p If you are seeing this website I'm probably trying to impress you
  p Hopefully you are impressed enough to contact me
  a(href='https://www.linkedin.com/' target="_blank") I can be reached at my linkedin profile
a(href='#') Back to top