h2(class='three-dimensional-text') Thank You For Visiting! :)
div(class='glass-background')
  p 
    | If you are seeing this website I'm probably trying to 
    br
    span(class='bigger-text') impress you
  p 
    | Hopefully you are impressed enough to 
    br
    span(class='bigger-text') contact me
  p
    | I can be reached at my
    br
    a(class='link-with-svg' href='https://www.linkedin.com/in/felix-tjernberg-55a35022a/' target="_blank") 
      include ../assets/svg/contact/linkedin.svg
      span(class='bigger-text')
        | linkedin profile
    br
    span(class='smaller-text') Or check your inboxes for Felix Tjernberg ;)
