h2(class='three-dimensional-text' tabindex='0')
  | Thank You For Visiting!
  br
  | 😀
div(class='glass-background')
  p(tabindex='0')
    | If you are seeing this website I'm probably trying to 
    br
    span(class='bigger-text') impress you
  p(tabindex='0')
    | Hopefully you are impressed enough to 
    br
    span(class='bigger-text') contact me
  p(tabindex='0')
    | I can be reached at my
    br
    a(class='link-with-svg' href='https://www.linkedin.com/in/felix-tjernberg-55a35022a/' target="_blank") 
      include ../assets/svg/contact/linkedin.svg
      span(class='bigger-text')
        | linkedin profile
    span(class='smaller-text') Or check your inboxes for Felix Tjernberg 😉
