h2(class='three-dimensional-text') American Football Coach
div(id='felix-coach-walk')
  div(class='glass-background')
    p Being a leader taught me to see other perspectives more clearly and game me a lot of confidence to lead when needed
    p Coaching taught me to break down movements(tasks) into smaller components
  img(id='felix-coach-background' src='./coach-background.jpg' alt='blurred image of players standing in rows on each side of the screen facing each other')
div(class='absolute-container-centered-elements')
  img(id='felix-as-coach' src='./felix-as-coach.png' alt='felix as coach walking away from camera, with the text on the back: Dalecarlia Rebels Football')
include ../assets/svg/fullstack-developer-transition-wave-bottom.svg
include ../assets/svg/stem-nerd-transition-staples-top.svg