h2(class='three-dimensional-text') American Football Coach
div(id='felix-coach-walk')
  div(class='glass-background' data-process-intensive='true')
    p Coaching gave me a lot of confidence to lead when needed
    p Being a leader taught me to see other perspectives more clearly
    p Coaching also taught me the ability to break down momvements/task into smaller coachable points which helps me when making todo lists (Throwing the football efficiently for instance has 7 coaching points)
    p The team also has a great motto which I strive to follow "Laget före jaget" which is directly translated to "Team before me"
  img(id='felix-coach-background' src='./coach-background.jpg' alt='blurred image of players standing in rows on each side of the screen facing each other')
div(class='absolute-container-centered-elements')
  img(id='felix-as-coach' src='./felix-as-coach.png' alt='felix as coach walking away from camera, with the text on the back: Dalecarlia Rebels Football')
