h2 American Football Coach
p Being a leader taught me to see other perspectives more clearly and game me a lot of confidence to lead when needed
p Coaching taught me to break down movements(tasks) into smaller components