h2(class='three-dimensional-text') American Football Coach
div(id='felix-coach-walk')
  div(class='glass-background')
    p(id='football-first-paragraf')
      span(class='bigger-text') Coaching 
      |  has given me the 
      span(class='bigger-text') confidence
      br 
      |  to 
      span(class='bigger-text') lead 
      |  when 
      span(class='bigger-text') needed
  div(class='glass-background' style='--border-radius: 12% 24% / 36% 43%')
    p 
      | Being a 
      span(class='perspective-text three-dimensional-text') leader
      |  taught me to see others 
      br
      span(class='perspective-text three-dimensional-text') perspective 
      |  more clearly
  div(class='glass-background' style='--border-radius: 10% 41% / 60% 30%')
    p 
      | Coaching taught me the ability to 
      span(class='counter-clockwise-rotated-text') bre
      span(class='clockwise-rotated-text') ak
      |  down movements into 
      span(class='smaller-text') smaller coachable points
    p 
      | Which helps me when 
      span(class='clockwise-rotated-text') brea
      span(class='counter-clockwise-rotated-text') king
      |  down programming tasks
  div(class='glass-background' style='--border-radius: 30% 40% / 33% 24%')
    p(id='football-last-paragraf')
      | I also strive to follow the team motto:
      br
      span(class='bigger-text') Laget före jaget
      br
      span(class='smaller-text') which is directly translated to:
      br
      span(class='bigger-text') Team before me
  img(id='felix-coach-background' src='./coach-background.jpg' alt='blurred image of players standing in rows on each side of the screen facing each other')
div(class='absolute-container-centered-elements')
  img(id='felix-as-coach' src='./felix-as-coach.png' alt='felix as coach walking away from camera, with the text on the back: Dalecarlia Rebels Football')
