h2 Illustrations by StorySet.com
a(href='https://storyset.com/illustration/coding/bro' target='_blank') Coding illustration
a(href='https://storyset.com/illustration/learning/bro' target='_blank') Learning illustration
a(href='https://storyset.com/illustration/code-typing/bro' target='_blank') Code typing illustration
a(href='https://storyset.com/illustration/american-football/bro' target='_blank') American football illustration
a(href='https://storyset.com/illustration/cyborg/bro' target='_blank') Elements from cyborg illustration
a(href='https://storyset.com/illustration/mail-sent/rafiki' target='_blank') Element from mail sent illustration
a(href='https://storyset.com/illustration/contact-us/bro' target='_blank') Elements from contact us illustration
a(href='https://storyset.com/illustration/innovation/bro' target='_blank') Elements from innovation illustration
a(href='https://storyset.com/illustration/drone-race/bro' target='_blank') Elements from drone race illustration
a(href='https://storyset.com/illustration/visionary-technology/bro' target='_blank') Elements from visionary technology illustration

h2 Backgrounds by
a(href='https://www.svgbackgrounds.com' target='_blank')
  | See endless constellation by
  br
  | Matt Visiwig on svgbackgrounds.com
a(href='https://projects.verou.me/css3patterns' target='_blank')
  | See blueprint grid by
  br
  | Lea Verou on verou.me/css3patterns

a(href='#') Go back to top
