h2(class='three-dimensional-text' tabindex='0') Fullstack Developer
div(class='glass-background')
  p(tabindex='0') 
    span(class='smaller-text') I have studied 
    br
    | 1 year as a 
    span(class='bigger-text') Javascript
    |  developer
    br
    | and
    br
    | 1 year as a 
    span(class='bigger-text') AI 
    |  developer
    br
    br
    | At the swedish trade school
    br 
    a(href='https://www.iths.se/' target='_blank')
      span(class='bigger-text') IT Högskolan
div(class='glass-background')
  p(tabindex='0') I speak these languages
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(id='fullstack-links-languages-start' href='#fullstack-links-languages-end' class='navigation-skip jump-end') Jump to end of language link section
      a(href='https://en.wikipedia.org/wiki/Bash_(Unix_shell)' target='_blank')
        include ../assets/svg/fullstack-developer/bash.svg
      a(href='https://en.wikipedia.org/wiki/CSS' target='_blank')
        include ../assets/svg/fullstack-developer/css.svg
      a(href='https://en.wikipedia.org/wiki/GraphQL' target='_blank')
        include ../assets/svg/fullstack-developer/graphql.svg
      a(href='https://en.wikipedia.org/wiki/HTML' target='_blank')
        include ../assets/svg/fullstack-developer/html.svg
      a(href='https://en.wikipedia.org/wiki/JavaScript' target='_blank')
        include ../assets/svg/fullstack-developer/javascript.svg
      a(href='https://en.wikipedia.org/wiki/English_language' target='_blank')
        include ../assets/svg/fullstack-developer/english-flag.svg
      a(href='https://en.wikipedia.org/wiki/Python_(programming_language)' target='_blank')
        include ../assets/svg/fullstack-developer/python.svg
      a(href='https://en.wikipedia.org/wiki/Swedish_language' target='_blank')
        include ../assets/svg/fullstack-developer/swedish-flag.svg
      a(href='https://en.wikipedia.org/wiki/SQL' target='_blank')
        include ../assets/svg/fullstack-developer/sql.svg
      a(id='fullstack-links-languages-end' href='#fullstack-links-languages-start' class='navigation-skip jump-start') Jump to start of language link section
  p(tabindex='0') I have come in contact with these programming tools
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(id='fullstack-links-programming-start' href='#fullstack-links-programming-end' class='navigation-skip jump-end') Jump to end of programing tools link section
      a(href='https://alpinejs.dev' target='_blank')
        include ../assets/svg/fullstack-developer/alpine.svg
      a(href='https://www.cloudflare.com/' target='_blank')
        include ../assets/svg/fullstack-developer/cloudflare.svg
      a(href='https://www.docker.com' target='_blank')
        include ../assets/svg/fullstack-developer/docker.svg
      a(href='https://expressjs.com' target='_blank')
        include ../assets/svg/fullstack-developer/express.svg
      a(href='https://en.wikibooks.org/wiki/LaTeX/Mathematics' target='_blank')
        include ../assets/svg/fullstack-developer/latex.svg
      a(href='https://matplotlib.org' target='_blank')
        include ../assets/svg/fullstack-developer/matplotlib.svg
      a(href='https://mongodb.com' target='_blank')
        include ../assets/svg/fullstack-developer/mongo.svg
      a(href='https://nodejs.org' target='_blank')
        include ../assets/svg/fullstack-developer/node.svg
      a(href='https://pandas.pydata.org' target='_blank')
        include ../assets/svg/fullstack-developer/pandas.svg
      a(href='https://plotly.com' target='_blank')
        include ../assets/svg/fullstack-developer/plotly.svg
      a(href='https://pugjs.org' target='_blank')
        include ../assets/svg/fullstack-developer/pug.svg
      a(href='https://reactjs.org' 
      onclick='window.open("https://reactnative.dev/")' target='_blank')
        include ../assets/svg/fullstack-developer/react.svg
      a(href='https://seaborn.pydata.org' target='_blank')
        include ../assets/svg/fullstack-developer/seaborn.svg
      a(href='https://socket.io' target='_blank')
        include ../assets/svg/fullstack-developer/socket.svg
      a(href='https://svelte.dev' target='_blank')
        include ../assets/svg/fullstack-developer/svelte.svg
      a(href='https://threejs.org' target='_blank')
        include ../assets/svg/fullstack-developer/threejs.svg
      a(href='https://vuejs.org' target='_blank')
        include ../assets/svg/fullstack-developer/vue.svg
      a(href='https://webpack.js.org' target='_blank')
        include ../assets/svg/fullstack-developer/webpack.svg
      a(id='fullstack-links-programming-end' href='#fullstack-links-programming-start' class='navigation-skip jump-start') Jump to start of programing tools link section
  p(tabindex='0') I can also handle these creative tools
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(id='fullstack-links-creative-start' href='#fullstack-links-creative-end' class='navigation-skip jump-end') Jump to end of creative tools link section
      a(href='https://www.adobe.com/aftereffects.html' target='_blank')
        include ../assets/svg/fullstack-developer/adobe-after-effects.svg
      a(href='https://www.adobe.com/photoshop.html' target='_blank')
        include ../assets/svg/fullstack-developer/adobe-photoshop.svg
      a(href='https://www.adobe.com/premiere.html' target='_blank')
        include ../assets/svg/fullstack-developer/adobe-premiere.svg
      a(href='https://www.figma.com' target='_blank')
        include ../assets/svg/fullstack-developer/figma.svg
      a(href='https://www.autodesk.com/fusion-360' target='_blank')
        include ../assets/svg/fullstack-developer/fusion-360.svg
      a(href='https://code.visualstudio.com' target='_blank')
        include ../assets/svg/fullstack-developer/vscode.svg
      a(id='fullstack-links-creative-end' href='#fullstack-links-creative-start' class='navigation-skip jump-start') Jump to start of creative tools link section
  p(id='fullstack-developer-hint' class='smaller-text' tabindex='0') * The icons take you to their respective websites
include ../assets/svg/fullstack-developer/fullstack-developer-background.svg
