h2(class='three-dimensional-text') Fullstack Developer
div(class='glass-background')
  p #[span(class='smaller-text') I have studied]#[br]1 year as a #[span(class='bigger-text') Javascript]  developer#[br]and 1 year as a #[span(class='bigger-text') AI] developer#[br]At the swedish trade school #[a(href='https://www.iths.se/') #[span(class='bigger-text') IT Högskolan]]
div(class='glass-background')
  p I speak these languages
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(href='https://en.wikipedia.org/wiki/CSS')
        include ../assets/svg/fullstack-developer/css.svg
      a(href='https://en.wikipedia.org/wiki/HTML')
        include ../assets/svg/fullstack-developer/html.svg
      a(href='https://en.wikipedia.org/wiki/JavaScript')
        include ../assets/svg/fullstack-developer/javascript.svg
      a(href='https://en.wikipedia.org/wiki/English_language')
        include ../assets/svg/fullstack-developer/english-flag.svg
      a(href='https://en.wikipedia.org/wiki/Python_(programming_language)')
        include ../assets/svg/fullstack-developer/python.svg
      a(href='https://en.wikipedia.org/wiki/Swedish_language')
        include ../assets/svg/fullstack-developer/swedish-flag.svg
      a(href='https://en.wikipedia.org/wiki/SQL')
        include ../assets/svg/fullstack-developer/sql.svg
  p I have come in contact with these programming tools
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(href='https://alpinejs.dev')
        include ../assets/svg/fullstack-developer/alpine.svg
      a(href='https://expressjs.com')
        include ../assets/svg/fullstack-developer/express.svg
      a(href='https://www.docker.com')
        include ../assets/svg/fullstack-developer/docker.svg
      a(href='https://matplotlib.org')
        include ../assets/svg/fullstack-developer/matplotlib.svg
      a(href='https://mongodb.com')
        include ../assets/svg/fullstack-developer/mongo.svg
      a(href='https://nodejs.org')
        include ../assets/svg/fullstack-developer/node.svg
      a(href='https://pandas.pydata.org')
        include ../assets/svg/fullstack-developer/pandas.svg
      a(href='https://plotly.com')
        include ../assets/svg/fullstack-developer/plotly.svg
      a(href='https://pugjs.org')
        include ../assets/svg/fullstack-developer/pug.svg
      a(href='https://reactjs.org')
        include ../assets/svg/fullstack-developer/react.svg
      a(href='https://seaborn.pydata.org')
        include ../assets/svg/fullstack-developer/seaborn.svg
      a(href='https://socket.io')
        include ../assets/svg/fullstack-developer/socket.svg
      a(href='https://svelte.dev')
        include ../assets/svg/fullstack-developer/svelte.svg
      a(href='https://threejs.org')
        include ../assets/svg/fullstack-developer/threejs.svg
      a(href='https://vuejs.org')
        include ../assets/svg/fullstack-developer/vue.svg
      a(href='https://webpack.js.org')
        include ../assets/svg/fullstack-developer/webpack.svg
  p I can also handle these creative tools
  section(class='fullstack-link-section')
    div(class='glass-background')
      a(href='https://www.adobe.com/aftereffects.html')
        include ../assets/svg/fullstack-developer/adobe-after-effects.svg
      a(href='https://www.adobe.com/photoshop.html')
        include ../assets/svg/fullstack-developer/adobe-photoshop.svg
      a(href='https://www.adobe.com/premiere.html')
        include ../assets/svg/fullstack-developer/adobe-premiere.svg
      a(href='https://www.figma.com')
        include ../assets/svg/fullstack-developer/figma.svg
      a(href='https://www.autodesk.com/fusion-360')
        include ../assets/svg/fullstack-developer/fusion-360.svg
      a(href='https://code.visualstudio.com')
        include ../assets/svg/fullstack-developer/vscode.svg
  p(id='fullstack-developer-hint') *The icons take you to their respective websites
include ../assets/svg/fullstack-developer/fullstack-developer-background.svg
