h2(class='three-dimensional-text') Fullstack Developer
p I speak these languages
section(id='languages' class='fullstack-link-section')
  a(href='https://en.wikipedia.org/wiki/English_language')
    include ../assets/svg/english-flag.svg
  a(href='https://en.wikipedia.org/wiki/Swedish_language')
    include ../assets/svg/swedish-flag.svg
  a(href='https://en.wikipedia.org/wiki/SQL')
    include ../assets/svg/sql.svg
//-
  English
  Swedish
  HTML
  CSS
  Javascript
  SQL maybe?
  Python
  Add more...?
p I have come in contact with these programming tools
//- Below svgs should be links
//- 
  Alpine
  Docker
  Cordova
  Vue
  React
  Pug
  Threejs
  Socket IO
  MongoDB
  Webpack
  Add more...
p I can also handle these creative tools
//- Below svgs should be links
//- 
  Adobe After Effects
  Adobe Photoshop
  Adobe Premier
  Figma
  Fusion 360
  Add more...
include ../assets/svg/fullstack-developer-background.svg