header
  h1 Felix Tjernberg
  p Welcome to my part of the web
  picture
    source(type='image/webp', srcset='felix-coach-walk.webp')
    img(src='felix-coach-walk.jpg', alt='Felix as coach, walking away from camera surrounded by players on either side, with the logo of Dalecarlia Rebels on his back')