h1(class='three-dimensional-text') Felix Tjernberg
div(class='glass-background')
  p Welcome to my part of the interwebs
  a(href='#im-a') Let me introduce myself below
  a(href='#stuff-made') #[span(class='smaller-text') Or checkout stuff I made]
button(id='test1' ) Enable effect heavy stuff