h1(class='three-dimensional-text') Felix Tjernberg
div(class='glass-background')
  p Welcome to my part of the interwebs
  p Let me introduce myself below
include ../assets/svg/header-top-accent.svg
include ../assets/svg/pointer-top-part.svg