h2(class='three-dimensional-text') I'm a
div(class='glass-background')
  a(href='#fullstack-developer') Fullstack Developer
  a(href='#football-coach') American Football Coach
  a(href='#stem-nerd') All Around STEM Nerd
include ../assets/svg/pointer-bottom-part.svg
include ../assets/svg/fullstack-transition-wave-top.svg
