h2(class='three-dimensional-text') I'm a
div(class='glass-background')
  a(href='#fullstack-developer') #[span Fullstack Developer]
  a(href='#football-coach') #[span American Football Coach]
  a(href='#steam-nerd') #[span All Around STEAM Nerd]
include ../assets/svg/im-a/typing-bro.svg
include ../assets/svg/im-a/innovation-bro.svg
include ../assets/svg/im-a/american-football-bro.svg
