h2(class='three-dimensional-text') I'm a
div(class='glass-background' data-process-intensive='true')
  a(href='#fullstack-developer') Fullstack Developer
  a(href='#football-coach') American Football Coach
  a(href='#steam-nerd') All Around STEAM Nerd
