h2(class='three-dimensional-text') I'm a
div(class='glass-background')
  a(href='#fullstack-developer') Fullstack Developer
  a(href='#football-coach') American Football Coach
  a(href='#steam-nerd') All Around STEAM Nerd
include ../assets/svg/im-a/typing-bro.svg
include ../assets/svg/im-a/innovation-bro.svg
include ../assets/svg/im-a/american-football-bro.svg
