h2(class='three-dimensional-text') I'm a
p Fullstack Developer
p American Football Coach
p All Around STEM Nerd
include ../assets/svg/pointer-bottom-part.svg
include ../assets/svg/fullstack-transition-wave-top.svg