doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content="Felix Tjernberg's spot on the internet")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Felix Tjernberg
    include ./links.pug
  body
    include ./test/construction-message.pug
    header(id='felix-tjernberg-header')
      include ./header.pug
    section(id='im-a')
      include ./im-a.pug
    section(id='fullstack-developer')
      include ./fullstack-developer.pug
    section(id='football-coach')
      include ./football-coach.pug
    section(id='stem-nerd')
      include ./stem-nerd.pug
    section(id='stuff-made')
      include ./stuff-made.pug
    div(id='end')
      section(id='closing')
        include ./closing.pug
      include ./footer.pug
    //- include ./test/threejs.pug
