doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description' content="Felix Tjernberg's spot on the internet")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Felix Tjernberg
    include ./header-links.pug
  body
    include ./construction-message.pug
    include ./navigation.pug
    main
      header(id='felix-tjernberg-header')
        include ./header.pug
        //- Transition svg
        include ../assets/svg/im-a/pointer-top-part.svg

      section(id='im-a')
        include ./im-a.pug
        //- Transition svgs
        include ../assets/svg/im-a/pointer-bottom-part.svg
        include ../assets/svg/fullstack-developer/transition-wave-top-top.svg

      section(id='fullstack-developer')
        include ./fullstack-developer.pug
        //- Transition svgs
        include ../assets/svg/fullstack-developer/transition-wave-top-bottom.svg
        include ../assets/svg/fullstack-developer/transition-wave-bottom-top.svg

      section(id='football-coach')
        include ./football-coach.pug
        //- Transition svgs
        include ../assets/svg/fullstack-developer/transition-wave-bottom-bottom.svg
        include ../assets/svg/steam-nerd/transition-staples-top.svg

      section(id='steam-nerd')
        include ./steam-nerd.pug
        //- Transition svg
        include ../assets/svg/steam-nerd/transition-staples-bottom-top.svg

      section(id='stuff-made')
        include ./stuff-made/stuff-made.pug
        //- Transition svg
        include ../assets/svg/steam-nerd/transition-staples-bottom-bottom.svg

      section(id='contact')
        include ./contact.pug
        div(id='footer')
          include ./footer.pug
        //- Transition svg
        include ../assets/svg/contact/transition-contact.svg
