doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="Felix Tjernberg's spot on the internet")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Felix Tjernberg
    include ./links.pug
  body
    header
      include ./header.pug
    section(class='im-a')
      include ./im-a.pug
    section(class='fullstack-developer')
      include ./fullstack-developer.pug
    section(class='football-coach')
      include ./football-coach.pug
    section
      include ./stem.pug
    section
      include ./stuff-made.pug
    div
      section
        include ./closing.pug
      include ./footer.pug
    //- include ./test/threejs.pug
