a(class='navigation-skip glass-background' href='#felix-tjernberg-header') Skip navigation
nav
  ol
    li(aria-hidden='true')
      //- Hack to have space for navigation button
    li
      a(href='#felix-tjernberg-header') Felix Tjernberg
    li
      a(href='#im-a') I'm a
    li
      a(href='#fullstack-developer') Fullstack developer
    li
      a(href='#football-coach') American football coach
    li
      a(href='#steam-nerd') STEAM nerd
    li
      a(href='#stuff-made') Stuff I made
    li
      a(href='#contact') Contact
  button(id='navigation-button') Show navigation
