h2(class='three-dimensional-text') All Around Steam Nerd
div(class='glass-background')
  p Being infinitely curious about
  p S#[span(class='small-text') cience] T#[span(class='small-text') echnology] E#[span(class='small-text') ngineering] A#[span(class='small-text') rt] M#[span(class='small-text') ath]
  p Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/code-bro.svg
include ../assets/svg/learning-bro.svg
