h2(class='three-dimensional-text') All Around Steam Nerd
div(class='glass-background' data-process-intensive='true')
  p Being infinitely curious about
  p Science Technology Engineering Art Math
  p Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/code-bro.svg
include ../assets/svg/learning-bro.svg
