h2(class='three-dimensional-text' tabindex='0') All Around Steam Nerd
div(class='glass-background')
  p(tabindex='0') Being infinitely curious about 
  p(tabindex='0') 
    | S
    span(class='smaller-text') cience
    |  T
    span(class='smaller-text') echnology
    |  E
    span(class='smaller-text') ngineering
    |  A
    span(class='smaller-text') rt
    |  M
    span(class='smaller-text') ath
  p(tabindex='0') Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/steam-nerd/code-bro.svg
include ../assets/svg/steam-nerd/learning-bro.svg
