h2(class='three-dimensional-text') All Around Steam Nerd
div(class='glass-background')
  p Being infinitely curious about 
  p 
    | S
    span(class='smaller-text') cience
    |  T
    span(class='smaller-text') echnology
    |  E
    span(class='smaller-text') ngineering
    |  A
    span(class='smaller-text') rt
    |  M
    span(class='smaller-text') ath
  p Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/steam-nerd/code-bro.svg
include ../assets/svg/steam-nerd/learning-bro.svg
