h2 All Around Stem Nerd
p Being infinitely curious about Science Technology Engineering Math
p Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/stem-background.svg
