h2(class='three-dimensional-text') All Around Stem Nerd
div(class='glass-background')
  p Being infinitely curious about Science Technology Engineering Math
  p Gives me the ability to be inventive with cross discipline ideas
include ../assets/svg/code-bro.svg
include ../assets/svg/learning-bro.svg
