h2(class='three-dimensional-text') Stuff I made
div(id='polaroid-gallery')
  a(class='polaroid' href='https://github.com/filleflex/generate-srcset-images')
    img(alt='Image of duplicate images in different sizes' src='./generate-srcset-images.jpg')
    h3 Generate srcset images
    p Created this tool whilst making this website
//- 
  Webpack config 
  Public variant to source of this website
  Mackes musik video
  Something regarding the self hosting of this website
  Public variant of essentials
  My custom desktop background either as background of some sort of picture frame
  My own theme and picture on it