h2 Here is some stuff I made
a(href='https://github.com/filleflex/generate-srcset-images') Image srcset resizer
//- 
  Webpack config 
  Public variant to source of this website
  Mackes musik video
  Something regarding the self hosting of this website
  Public variant of essentials
  My custom desktop background either as background of some sort of picture frame
  My own theme and picture on it