h2(class='three-dimensional-text') Stuff I Made
div(id='polaroid-gallery')
  section(class='polaroid')
    img(
      alt='Image of duplicate images in different sizes' 
      src='./generate-srcset-images.jpg'
    )
    header
      h3 Generate srcset images
      p Created this tool whilst making this website
    p I made this small tool that generates the scrset images and a srcset attribute string 
    p Had to do this as #[a(href='https://github.com/dazuaz/responsive-loader') responsive-loader] only works in javascript files
    a(href='https://github.com/filleflex/generate-srcset-images') Github link
  section(class='polaroid')
    header
      h3 Music video animation
      p Animation I made for a friends song
    p I made this animation using different photoshop layers of his icon 
    p Each layer is connected to audiograms of different parts from the song 
      br  
      .
        ( Bass / Kick / Mids / Vocals )
    a(href='https://www.youtube.com/watch?v=pgJXHhmN45Y') Youtube link
    img(
      alt='Grebsucram icon coming towards the camera with and ocean as background' 
      src='./grebsucram-music-video.png'
    )
