:root {
  --im-a-100: #3ffb66;
  --im-a-300: #13aa2b;
  --header-100: #734f1e;
  --header-200: #68471a;
  --header-300: #5e3f16;
  --header-400: #3d2709;
  --header-500: #302007;
  --stem-100: #74beff;
  --stem-200: #279aff;
  --stem-300: #0074d9;
  --stem-400: #004b8d;
  --stem-500: #002241;
}

h1,
h2,
h3 {
  --heading-font-size: clamp(2.5rem, 10vw, 5rem);
}
p {
  --paragraf-font-size: clamp(1.25rem, 4vw, 2.25rem);
}

body > header,
section {
  --section-padding: max(7.5%, 2rem);
}
