#football-coach {
  grid-template-rows: auto 1fr;
  padding-block: calc(var(--section-padding) * 2);
}
#football-coach > #fullstack-developer-transition-wave-bottom {
  top: -1px; /* Hack: issue where on some zoom levels there is a gap between svg's */
}
#football-coach > #stem-transition-staples-top {
  bottom: -2px; /* Hack: issue where on some zoom levels there is a gap between svg's */
}
#football-coach > h2 {
  font-size: calc(var(--heading-font-size) * 0.8);
}

#felix-coach-walk {
  position: relative;
  height: 30em;
  display: grid;
  place-content: center;
}

#felix-coach-background {
  position: absolute;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
}

#felix-as-coach {
  position: relative;
  z-index: -1;
  height: 100%;
}
#football-coach > .absolute-container-centered-elements {
  inset: 25% 0 0 0;
}
