#footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: var(--heading-font-size);
}
#footer h2 {
  font-size: 1.5rem;
}
#footer a {
  font-size: 1rem;
}
#footer a:last-of-type {
  margin-top: 4em;
}
