#footer {
  display: grid;
  font-size: 1rem;
  place-items: center;
  margin-top: var(--heading-font-size);
}
#footer h2 {
  font-size: 2em;
}
#footer h2:not(:first-of-type) {
  margin-top: 1em;
}
#footer a:last-of-type {
  margin-top: 4em;
}
#footer a {
  margin: 1em;
}
