#football-coach {
  background-color: var(--football-coach-100);
  grid-template-rows: auto 1fr;
}
#football-coach > h2 {
  font-size: calc(var(--heading-font-size) * 0.8);
}

#felix-coach-walk {
  position: relative;
  height: 30em;
  display: grid;
  place-content: center;
}

#felix-coach-background {
  position: absolute;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

#felix-as-coach {
  position: relative;
  z-index: 2;
  height: 100%;
}
#football-coach > .absolute-container-centered-elements {
  inset: 33% 0 0 0;
}

@media (max-width: 1000px) {
  #football-coach {
    padding-block: calc(var(--section-padding) * 2);
  }
}
