.fullstack-link-section .glass-background {
  padding: 0;
}
.fullstack-link-section {
  display: grid;
  place-content: center;
}
.fullstack-link-section .glass-background {
  box-shadow: 0 1rem 2rem -1rem inset #00000099;
  display: flex;
  border-radius: 25px;
  flex-wrap: wrap;
  filter: none;
  place-content: center;
  padding-inline: 1rem;
}
.fullstack-link-section a {
  margin: 1rem;
  text-decoration: none; /* On some browsers there is small point of underline rendered */
}
.fullstack-link-section svg {
  height: 50px;
  width: 50px;
}
