.fullstack-link-section .glass-background {
  padding: 0;
}
.fullstack-link-section {
  display: grid;
  place-content: center;
}
.fullstack-link-section .glass-background {
  box-shadow: 0 1rem 2rem -1rem inset #00000099;
  display: flex;
  border-radius: 25px;
  flex-wrap: wrap;
  filter: none;
  place-content: center;
  padding-inline: 1rem;
}
.fullstack-link-section a {
  padding: 0;
  margin: 1rem;
}
.fullstack-link-section svg {
  height: 50px;
  width: 50px;
}

.fullstack-link-section a {
  transition: transform 0.2s;
}
.fullstack-link-section a:hover {
  --scale: 1.3;
  transform: scale(var(--scale));
}
@media (max-width: 625px) {
  #fullstack-developer > .glass-background {
    border-radius: 25px;
  }
}
