#fullstack-developer > .glass-background:first-of-type {
  padding: 0.3em 2em 1em 2em;
}
#fullstack-developer > .glass-background:first-of-type a {
  margin-top: 0;
}

#fullstack-developer-hint {
  margin-top: 2em;
}

.fullstack-link-section {
  display: grid;
  place-content: center;
}
.fullstack-link-section .glass-background {
  display: flex;
  backdrop-filter: none;
  border-radius: 25px;
  filter: none;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-top: 1em;
  padding: 25px;
  place-content: center;
  position: relative;
}
.fullstack-link-section .glass-background :first-child {
  margin-top: auto;
}
.fullstack-link-section a:not(.navigation-skip) {
  --scale: 1.3;
  margin: 25px;
}
.fullstack-link-section svg {
  height: 50px;
  width: 50px;
}

.jump-end {
  top: 0;
}

.jump-start {
  bottom: 0;
}
.navigation-skip.jump-start:focus {
  transform: translate(-50%, -50%) scale(100%);
}

@media (max-width: 625px) {
  #fullstack-developer > .glass-background {
    border-radius: 25px;
  }
}

@media (min-width: 1500px) {
  #fullstack-background {
    width: 100%;
  }
}
