h1,
h2,
h3,
p {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: clamp(2.5rem, 10vw, 5rem);
  padding-inline: 1em;
}
p {
  font-family: 'JetBrains Mono', monospace;
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  padding-inline: 1em;
}

body > header,
section {
  --section-padding: max(7.5%, 2rem);

  display: grid;
  min-height: min(100vh, 50rem);
  padding-block: var(--section-padding);
  place-content: center;
  position: relative;
}

header * + *:not(svg),
section * + *:not(svg) {
  margin-top: 1em;
}
