h1,
h2,
h3,
p {
  color: white;
  text-align: center;
  z-index: 3;
}
h1,
h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: var(--heading-font-size);
  line-height: 1.2;
  margin-bottom: 0.5em;
  padding-inline: 1em;
}
h3,
p {
  font-family: 'JetBrains Mono', monospace;
  font-size: var(--paragraf-font-size);
  margin-top: 1em;
  padding-inline: 1em;
}

body > header,
section {
  display: grid;
  min-height: min(100vh, 50rem);
  padding-block: var(--section-padding);
  place-content: center;
  position: relative;
}
