h1,
h2,
h3,
p,
a {
  z-index: 3;
}

a,
h1,
h2,
h3,
p {
  color: white;
  text-align: center;
}
h1,
h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: var(--heading-font-size);
  line-height: 1.2;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

a,
h3,
p {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1em;
}
a,
p {
  font-size: var(--paragraf-font-size);
}
p {
  max-width: 50ch;
}

body > header,
body > section {
  display: grid;
  min-height: min(100vh, 50rem);
  padding-block: var(--section-padding);
  place-content: center;
  position: relative;
}

a {
  transition: transform 0.1s;
}
a:hover {
  --scale: 1.1;
  transform: scale(var(--scale));
}

h3,
p,
#felix-tjernberg-header a,
#im-a a,
#contact a,
.polaroid > a {
  display: block;
  padding: 0 1em;
}

@media (max-width: 1200px) {
  #football-coach,
  #fullstack-developer,
  #stuff-made {
    padding-block: calc(var(--section-padding) * 2);
  }
}
