/* Hack: issue where on some zoom levels there is a gap between svg's */
#fullstack-developer-transition-wave-bottom-bottom,
#fullstack-developer-transition-wave-top-bottom,
#pointer-bottom,
#stem-transition-staples-bottom-bottom {
  top: -1px;
}

/* Hack: issue where on some zoom levels there is a gap between svg's */
#fullstack-developer-transition-wave-bottom-top,
#fullstack-developer-transition-wave-top-top,
#pointer-top,
#stem-transition-staples-top,
#stem-transition-staples-bottom-top {
  bottom: -1px;
}

.fullstack-link-section a:not(.navigation-skip) {
  font-size: 0px; /* Removes unexplained height gain, height was 55px before this hack */
  text-decoration: none; /* On some browsers there is small point of underline rendered */
}
