#felix-tjernberg-header {
  background: var(--header-100);
  background: radial-gradient(circle, var(--header-100), var(--header-400));
}

#felix-tjernberg-header > #header-background {
  opacity: 0.7;
}
