nav ol,
#navigation-button {
  position: fixed;
  z-index: 4;
}

nav ol {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.603);
  display: none;
  flex-direction: column;
  inset: 0;
  margin: auto;
  overflow-y: scroll;
  place-content: center;
}
nav ol[data-show-navigation] {
  display: flex;
}
nav a {
  font-size: 1em;
  padding: 1em;
}

#navigation-button {
  top: 1em;
  right: 1em;
}

@media (min-width: 1000px) {
  nav ol {
    overflow: initial;
    background-color: transparent;
    flex-direction: row;
    inset: 0 0 auto 0;
  }
  #navigation-button {
    top: 0;
    right: 0;
  }
}
