#steam-nerd {
  background: var(--steam-500);
  background: linear-gradient(0deg, var(--steam-500), var(--steam-300));
  padding-bottom: calc(var(--section-padding) * 2);
}

#steam-transition-staples-bottom-top {
  height: calc(var(--heading-font-size) / 2);
}
#steam-transition-staples-bottom-bottom {
  height: calc(var(--heading-font-size) * 0.75);
}

#learning-bro,
#code-bro {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  max-width: 40%;
}
#learning-bro {
  max-height: 70%;
  left: 0;
}
#code-bro {
  max-height: 50%;
  right: 0;
}

.smaller-text {
  font-size: 0.6em;
}
