#steam-nerd {
  background: #675800;
  background: linear-gradient(0deg, #675800, #ffdc00);
  padding-bottom: calc(var(--section-padding-block) * 2);
}

#steam-transition-staples-bottom-top {
  height: calc(--section-padding-block / 2);
}

#learning-bro,
#code-bro {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  max-width: 40%;
}
#learning-bro {
  max-height: 70%;
  left: 0;
}
#code-bro {
  max-height: 50%;
  right: 1%;
}

.small-wiggle {
  --delay: 0s;
  --direction: alternate;
  --duration: 20s;
  animation: small-wiggle infinite;
  animation-delay: var(--delay);
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
@keyframes small-wiggle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5px, 1px);
  }
  20% {
    transform: translate(5px, -4px);
  }
  30% {
    transform: translate(-5px, -2px);
  }
  40% {
    transform: translate(1px, 2px);
  }
  50% {
    transform: translate(-1px, -5px);
  }
  60% {
    transform: translate(3px, 4px);
  }
  70% {
    transform: translate(-3px, 1px);
  }
  80% {
    transform: translate(2px, -5px);
  }
  90% {
    transform: translate(-2px, 7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
