#steam-nerd {
  background: #675800;
  background: linear-gradient(0deg, #675800, #ffdc00);
  padding-bottom: calc(var(--section-padding-block) * 2);
}

#steam-transition-staples-bottom-top {
  height: calc(--section-padding-block / 2);
}

#learning-bro,
#code-bro {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  max-width: 40%;
}
#learning-bro {
  max-height: 70%;
  left: 0;
}
#code-bro {
  max-height: 50%;
  right: 1%;
}
