#stem-nerd {
  background: var(--stem-500);
  background: linear-gradient(0deg, var(--stem-500), var(--stem-300));
  padding-bottom: calc(var(--section-padding) * 2);
}

#stem-transition-staples-bottom-top {
  height: calc(var(--heading-font-size) / 2);
}
#stem-transition-staples-bottom-bottom {
  height: calc(var(--heading-font-size) * 0.75);
}

#learning-bro,
#code-bro {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  max-width: 40%;
}
#learning-bro {
  max-height: 70%;
  left: 0;
}
#code-bro {
  max-height: 50%;
  right: 0;
}
