#stuff-made {
  background-color: var(--stuff-made-300);
}

#polaroid-gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.polaroid {
  background-color: white;
  box-shadow: 0 2rem 5rem -2rem black;
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  margin: 2rem;
  padding: 1rem;
  position: relative;
}
.polaroid::before,
.polaroid::after {
  content: '';
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.5);
  filter: drop-shadow(0 1px 1px hsla(0, 0%, 19%, 0.2));
  height: 1.5rem;
  position: absolute;
  top: 0;
  width: 5.5rem;
  z-index: 1;
}
.polaroid::before {
  left: 0;
  transform: rotate(-30deg) translate(-1.3rem, -0.75rem);
}
.polaroid::after {
  right: 0;
  transform: rotate(40deg) translate(1.3rem, -1rem);
}

.polaroid > a {
  margin-top: 3em;
}
.polaroid h3 {
  font-size: 1.7rem;
}
.polaroid > img {
  aspect-ratio: 16/9;
  object-fit: cover;
  order: -1;
  position: relative;
  width: 100%;
}
.polaroid > p:first-of-type {
  margin-top: 2em;
}
.polaroid > header > p {
  margin-top: 0.5em;
}
.polaroid a,
.polaroid h3,
.polaroid p {
  color: black;
}
.polaroid a,
.polaroid p {
  font-size: 1rem;
}
.polaroid,
.polaroid > img {
  border-radius: 5px;
}
