#stuff-made {
  background-color: var(--stuff-made-300);
}

#polaroid-gallery {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.polaroid {
  background-color: white;
  box-shadow: 0 2rem 5rem -2rem black;
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
.polaroid::before,
.polaroid::after {
  content: '';
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.5);
  filter: drop-shadow(0 1px 1px hsla(0, 0%, 19%, 0.2));
  height: 1.5rem;
  position: absolute;
  top: 0;
  width: 5.5rem;
  z-index: 1;
}
.polaroid::before {
  left: 0;
  transform: rotate(-30deg) translate(-1.3rem, -0.75rem);
}
.polaroid::after {
  right: 0;
  transform: rotate(40deg) translate(1.3rem, -1rem);
}

.polaroid a,
.polaroid h3,
.polaroid p {
  color: black;
}
.polaroid a,
.polaroid p {
  font-size: calc(var(--paragraf-font-size) / 3);
}
.polaroid,
.polaroid > img {
  border-radius: 5px;
}
.polaroid > a {
  margin-top: 2em;
}
.polaroid > header > p {
  margin-top: 0.5em;
}
.polaroid > h3 {
  font-size: calc(var(--paragraf-font-size) / 2);
}
.polaroid > img {
  aspect-ratio: 16/9;
  object-fit: cover;
  order: -1;
  position: relative;
  width: 100%;
}

@media (max-width: 928px) {
  .polaroid > h3,
  .polaroid > p {
    padding-inline: 1rem;
  }
  .polaroid > h3 {
    text-decoration: underline;
    font-size: var(--paragraf-font-size);
  }
  .polaroid > p {
    font-size: calc(var(--paragraf-font-size) / 2);
  }
}
