.absolute-container-centered-elements {
  position: absolute;
  inset: 0;
}
.absolute-container-centered-elements > * {
  margin: auto;
}

.bigger-text {
  font-size: 1.2em;
  margin-block: 0.1em;
}

.clockwise-rotated-text {
  display: inline-block;
  transform: rotate(4deg);
}
.counter-clockwise-rotated-text {
  display: inline-block;
  transform: rotate(-7deg);
}

.glass-background {
  background-color: #46464657;
  border-radius: 100% / 20%;
  box-shadow: 0 2rem 5rem -2rem black;
  margin: var(--paragraf-font-size);
  padding-block: calc(var(--paragraf-font-size) * 2);
  z-index: 3;
}
.glass-background[data-allow-process-intensive] {
  filter: drop-shadow(0 1px 1px hsla(0, 0%, 19%, 0.2));
  backdrop-filter: blur(5px);
}
.glass-background > p:first-child {
  margin-top: 0;
}
@supports (backdrop-filter: blur()) {
  .glass-background[data-allow-process-intensive] {
    filter: none;
  }
}

.perspective-text {
  display: inline-block;
  transform: skew(15deg) rotate3d(10, 0, -1, 30deg);
}

.smaller-text {
  font-size: 0.6em;
}

.svg-background {
  inset: 0;
  position: absolute;
}

.svg-transition-piece {
  height: var(--heading-font-size);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.three-dimensional-text {
  --face-color: white;
  --side-color: #919191;
  color: var(--face-color);
  text-shadow: 0px 1px 0px var(--side-color), 0px 2px 0px var(--side-color),
    0px 3px 0px var(--side-color), 0px 4px 0px var(--side-color),
    0px 5px 0px var(--side-color), 0px 6px 0px var(--side-color),
    0px 10px 20px #000;
}
